html {

		background: silver;
}


header {
		background-color: black;
		text-align: center;
}

navbar {

		color: white;
}


h3 {

		color: blue;
		font-size: 17px;
		font-weight: bold;
}


}
@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}
.col-md-3 {
		font-size: 80%;
		text-decoration: bold;
}

.image {
		margin-left: 1%;
}

.image 2 {
		margin-right: 1%;
}
.image 3 {
	
}

p {
		color: black;
		font-size: 13px;
}

#p1 {

		position: absolute;
		left: 37%;
}

#p2 {

		position: absolute;
		left: 9%;
}

#p3 {

		position: relative;
		left: 33%;
}

#art1 {

		position: absolute;
		left: 37%;
}

.img-responsive {
		position: inherit;
		left: -35%;

}

#title4 {

		position: absolute;
		left: 37%;
}

section {

		background: white;
		margin-top: 2%;
		margin-left: 9%;
		margin-right: 8%;
}

#sect2 {

		padding: 1%;
		font-weight: bold;
		color: blue;
}

.vign {

		margin-top: 25px;
}

#vign1 {

		margin-top: 20px;
}

#vign2 {

		margin-top: 20px;
}

#vign3 {

		margin-top: 20px;
}

#vign4 {

		margin-top: 20px;
}

#vign5 {

		margin-top: 20px;
}

#vign6 {

		margin-top: 20px;
}

#vign7 {

		margin-top: 20px;
}



#p03 {

		margin-top: 20px;
}

#p04 {
		margin-top: 20px;
}

#p05 {
		margin-top: 20px;
}

#p06 {
		margin-top: 20px;
}

#p07 {
		margin-top: 20px;
}

#p08 {
		margin-top: 20px;
}

