html {

		background: url(https://abs.twimg.com/b/front_page/v1/EU_2.jpg);
}


.menuheader {

background-color: white;
font-size: 12px;
display: inline-block;
height: 41px;  
padding: 20px;
}

.menuheader:hover {

background-color: white;
font-size: 12px;
border-bottom: 4px;

}

.header {

background-color: white;
height: 46px;
}


.imageheader {

width: 20px;
height: 20px;
}






h1 {

		position: absolute;
		left: 25%;
		color: white;
		top: 21%;
		font-weight: bold;
}


h4 {

		position: absolute;
		top: 32%;
		width: 25%;
		color: white;
		left: 25%;
}


form {

		position: absolute;
		padding: 2%;
		border-radius: 5px;
		top: 18%;
		left: 65%;
		background-color: white;
}

#form2 {

		position: absolute;
		top: 300%;
		padding: 5%;
		background-color: white;
		border-radius: 5px;
		left: 10%;
		height: 200px;
}

button {

		background-color: #4099FF;
		color: white;
		float: right;
		font-weight: bold;
		border-radius: 5px;
}

#btn2 {
		background-color: gold;
		padding: 1%;
		color: black;
		position: absolute;
		top: 77%;
		left: 33%;
		font-size: 14px;

}

#blue {

		color: #4099FF;

}





